@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

/* Navigation */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    background: white;
    padding: 0.75rem;
    z-index: 50;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.bar_icon {
  font-size: 2rem;
}

/* Hero Section */

.hero {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag {
  background-color: #149f39;
  padding: 5px 10px;
  color: white;
  align-self: flex-start;
}

.hero_content h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 400;
}

.explore_btn {
  background: #ffc066;
  align-self: flex-start;
}

/* Features Section */

.features {
  margin-top: 7.5rem;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 3.25rem;
}

.feature {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem;
  transition: 0.2s ease-in-out;
}

.feature img {
  width: 4.5rem;
}

.feature:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.divider {
  border: 1px solid #ccc;
  margin: 1.25rem 0;
}

/* Menu Section */

.menu {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
  margin: 3.25rem 0;
  align-items: center;
}

.menu .tag {
  align-self: center;
}

.grid-image {
  border-radius: 0.75rem;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.grid-image:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.grid {
  display: grid;
  gap: 0.75rem;
  grid-template-areas:
     "I1 I1 I2 I3"
     "I1 I1 I2 I7"
     "I4 I5 I6 I7";
}

.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}
.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
}

/* Footer Section */

footer {
  background-color: #fff0db;
}

.link_lists h3 {
  margin-bottom: 0.75rem;
  color: gray;
}

.link_lists ul {
  list-style: none;
}

.link_lists ul li {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.news_letter h3 {
  margin-bottom: 0.75rem;
  color: gray;
}

.news_letter input {
  padding: 0.25rem 2.5rem;
  margin-bottom: 0.75rem;
  align-items: center;
}

.footer_container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.icon_container {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  justify-content: center;
}

@media (max-width: 768px) {

  .hero {
    flex-direction: column;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }

  .hero_image img {
    width: 80%;
  }

  .hero_content {
    gap: 0.75rem;
    padding: 0 1.25rem;
    align-items: center;   
    text-align: center;  
  }

  .tag,
  .explore_btn {
    align-self: center;    
  }

  .hero_content h1 {
    font-size: 2rem;
  }

  .features {
    flex-direction: column;
  }
  .feature {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .grid {
    padding: 0.75rem;
  }
  .grid-image {
    border-radius: 0px;
  }
  .footer_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .news_letter {
    text-align: center;
  }

  .icon_container{
    align-items: center;
    text-align: center;
  }

}







